.pageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
}

.books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;

    .book {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 200px;
        height: 280px;

        p {
            margin: 0;

            &.pages {
                margin-top: auto;
            }

            &.id {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                opacity: 0.5;
            }
        }
    }
}

dialog {
    padding: 1rem;
    border-radius: 0.5rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 4px;

        fieldset {
            margin: 8px 0px;
        }
    }

    &::backdrop {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
    }
}

button:first-child {
    margin-bottom: 20px;
}

button:last-child {
    margin-top: 20px;
}
